.trans, #navbarNav a:hover, .cart i:hover, .medium-lp input:hover, .mini h3:hover, .mini input:hover, .content-area input:hover {
  transition: 300ms all; }

header {
  -webkit-box-shadow: 0px 10px 15px -6px #9c9c9c;
  -moz-box-shadow: 0px 10px 15px -6px #9c9c9c;
  box-shadow: 0px 10px 15px -6px #9c9c9c; }

* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0; }

html {
  font-size: 15px; }

.top-bar {
  display: flex;
  justify-content: space-between;
  background-color: #FBD914;
  font-size: 1rem; }

.header-area {
  background-color: white;
  width: 100%; }

.logo {
  padding: 1rem 0 0 1.5rem;
  width: 100%; }

nav button:hover {
  border-color: #0058AB; }

#navbarNav {
  padding-right: 4rem;
  justify-content: center; }

#navbarNav a {
  font-size: 2.4rem;
  color: #0058AB;
  font: bold; }

#navbarNav a:hover {
  color: #FBD914; }

.cart i {
  font-size: 1.7rem;
  color: #0058AB;
  padding: 0.7rem 0.3rem 0 0.3rem; }

.cart i:hover {
  color: #FBD914;
  text-decoration: none; }

.cart {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.5rem 0 0; }

.top {
  display: flex;
  justify-content: start; }

.top a {
  padding-left: 1rem; }

.slider {
  width: 100%;
  position: relative; }

.medium {
  padding-top: 4rem; }

#bla {
  padding: 0.3rem; }

.medium-lp input:hover {
  border: none;
  background-color: #FBD914;
  color: #0058AB; }

.medium-lp {
  width: 15%;
  height: 10rem;
  padding-top: 7rem;
  margin-left: 30rem;
  display: grid;
  justify-content: center;
  text-align: center; }

.small-slider {
  padding-top: 7rem; }

.mini {
  background-color: white;
  display: grid;
  justify-content: center;
  text-align: center;
  padding-bottom: 0.7rem; }

.mini h3 {
  color: #0058AB; }

.mini h3:hover {
  color: #FBD914; }

.mini input {
  padding-bottom: 0.7rem;
  background-color: #0058AB; }

.mini input:hover {
  border: none;
  background-color: #FBD914; }

.content {
  padding-top: 7rem; }

.content-area h6 {
  color: #0058AB; }

.content-area input {
  margin-bottom: 0.7rem;
  background-color: #0058AB; }

.content-area input:hover {
  border: none;
  background-color: #FBD914; }

.footer {
  background-color: #0058AB;
  height: 3rem;
  width: 100%;
  text-align: center; }
  .footer h6 {
    font-size: 0.7rem;
    padding-top: 0.3rem;
    color: white; }

#social {
  justify-content: space-between; }

#social i {
  font-size: 0.5rem; }
